<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% load static %}
        <link rel="icon" href="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/apple/198/personal-computer_1f4bb.png">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <title>inventorify</title>
    </head>

    <body>
        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
            <h4 class="my-0 mr-md-auto font-weight-normal"><a href="/index"><font color="#343a40"><b>inventorify</b></font></a></h4>

            <nav class="my-2 my-md-0 mr-md-3">
                <a class="p-2 text-dark" href="/index">Home</a>
                <a class="p-2 text-dark" href="/about">About</a>
                <a class="p-2 text-dark" href="/reports">Reports</a>
            </nav>

            <a class="btn btn-outline-dark" href="/admin">Admin</a>
        </div>

        <div class="container">
            <br>
            {% block body %}

            {% endblock %}
            <br><br>

            <footer class="border-top"><br>
                <p class="float-right text-muted">
                    {% if user.get_username|length != 0 %}
                        Logged in as <a href="/admin"><b>{{ user.get_username }}</b></a>
                    {% endif %}
                </p>
                <p class="text-muted">
                    Developed by Shrish Mohapatra
                </p>
            </footer>

        </div>

        <! Javascript --->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>

</html>